.gallery{
    width: 45%;
    float: left;
    margin: 2.5%;
}

.logo{
    width: 40px;
    height: 40px;

}

h2{
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    opacity: 0.8;
    margin: 20px;
    /*text-transform: uppercase;*/
    padding-bottom: 10px;
    border-bottom: solid #404040 2px ;
    width: 65px;
    text-align: center;
}